.timer {
  display: flex;
  font-weight: 700;
  font-size: large;
}

.field {
  margin-top: 20px;
  margin-right: 20px;
}

.label {
  background: linear-gradient(
    135deg,
    #5335cf 0%,
    #de005e 25%,
    #f66e48 50%,
    #de005e 75%,
    #5335cf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
